#carousel {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
}

.carousel-caption {
    position: absolute;
    top: 54%;
    transform: translateY(-50%);
}

.bg-custom {
    background-color: rgba(0, 0, 0, .4);
    color: white;
    border-radius: 1rem;
}

.carousel-caption h1 {
    font-size: 2.8rem;
    text-shadow: 0.1 .1rem 0.3rem rgba(0, 0, 0, 1);
}

.border-primary {
    border-top: .2rem solid #4981b3 !important;
}

.carousel-caption h3 {
    font-size: 1.8rem;
    text-shadow: 0.1 .1rem 0.3rem rgba(0, 0, 0, 1);
} 