.navbar {
    font-size: 1.15rem;
    font-weight: 500;
    letter-spacing: .1rem;
}

.navbar-brand img {
    height: 3rem;
}

.nav-item {
    padding: .5rem;
}

.nav-item:hover {
    color: firebrick;
    text-decoration: none;
}
